<style>
  #sidebar h1 {
    color: white;
  }
</style>

<div id="sidebar">
  <h1>CRM | Admin</h1>
  <div id="innerdiv">
    <h1>Welcome admin</h1>
  </div>

  <a href="/adminDashboard"> <i class="fa fa-home"></i> Dashboard </a>
  <a href="/admin/Users"> <i class="fa fa-home"></i> Users </a>
  <a href="/admin/changePassword">
    <i class="fa fa-home"></i> Change Password
  </a>
</div>
