<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <style>
      * {
        margin: 0;
        padding: 0;
      }

      #main{
        display: flex;
      }
      #home {
        display: flex;
        background-color: rgb(47, 65, 73);
        max-width: 250px;
      }

      #profile {
        display: flex;
        background-color: rgb(34, 47, 53);
        max-width: 250px;
        align-items: center;
      }

      #sidemenu {
        background-color: rgb(34, 47, 53);
        max-width: 250px;
        align-items: center;
      }
      .sidelink {
        color: black;
      }

      #sideMenuLink {
        background-color: rgb(34, 47, 53);
        max-width: 250px;
      }

      #sideMenuLink a {
        font-size: 20px;
        color: black;
        text-decoration: none;
        display: block;
        padding: 12px;
      }

      #changepass{
        background-color: beige;

      }

      #changepass form{
        display: flex;
        flex-direction: column;
        width: 300px;
        padding: 20px;
        border-radius: 10px;
      }

       #changepass input{
         margin-bottom: 15px;
         border: none;
         background-color: white;
         height: 30px;
      }

    </style> 
  </head>
  <body>
    <div id="main">
      <div id="sidebar">
        <div id="home">
          <h1>CRM</h1>
          <img
            src="https://www.google.com/imgres?q=home%20icon%20png&imgurl=https%3A%2F%2Fstatic.thenounproject.com%2Fpng%2F3574480-200.png&imgrefurl=https%3A%2F%2Fthenounproject.com%2Fbrowse%2Ficons%2Fterm%2Fhome-icon%2F&docid=tOuSD9uS6_8XiM&tbnid=4m1DeGZRc3m1PM&vet=12ahUKEwjZotaP2piTAxVm2TgGHSw3Km4QnPAOegQIHBAB..i&w=200&h=200&hcb=2&ved=2ahUKEwjZotaP2piTAxVm2TgGHSw3Km4QnPAOegQIHBAB"
            alt="Home Icon"
          />
        </div>

        <div id="profile">
          <i class="fa-solid fa-user"></i>
          <h2>Welcome John doe</h2>
        </div>

        <div id="sideMenuLink">
          <a href="/changePassword">
            <i class="fa-solid fa-user"></i> Change Password
          </a>

          <a href="/profile">
            <i class="fa-solid fa-home"></i> Change Profile
          </a>
        </div>
      </div>
      <div id="changepassword">
        <form action="/changePassword" method="post">

          <label for="password"> Current Password</label>
          <input type="password" name="password" id="current-pass">

           <label for="newpass"> New Password</label>
          <input type="password" name="newpassword" id="new-pass">

           <label for="confpass"> Conf Password</label>
          <input type="password" name="confpassword" id="conf-pass">

          <button type="submit">
            Submit
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
