<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
    </style>
</head>
<body>
   <div>
   <table border="1">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Contact</th>
      <th>Service Required</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.contact %></td>
      <td><%= user.webDevlopment %></td>
      <td>
        <button><a href="/quteDetails">View</a></button>
      </td>
    </tr>

    
  </tbody>
</table>
   </div>
</body>
</html>