<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        background-color: antiquewhite;
      }
      #changepassword {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        align-items: center;
        height: 200px;
      }

      #changepassword input {
        justify-content: center;
        align-items: center;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-radius: 3px;
        display: block;
      }

      #changepassword button {
        padding: 10px;
        width: 150px;
        border-radius: 5px;
        border: none;
        background-color: rgb(132, 237, 202);
        cursor: pointer;
        transition: all 0.3s ease-in;
      }

      #changepassword button:hover {
        transform: translateY(-4px);
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); /* shadow effect */
        background-color: rgb(237, 178, 129);
      }
    </style>
  </head>
  <body>
    <h1>Password page</h1>
    <div id="changepassword">
      <form action="/password" method="post">
        <label for="password"> Current Password</label>
        <input type="password" name="password" id="password" />

        <label for="newpassword"> New Password</label>
        <input type="password" name="newpassword" id="new-pass" />

        <label for="confpassword"> Confirm Password</label>
        <input type="password" name="confpassword" id="confpassword" />
        <button type="submit">submit</button>
      </form>
    </div>
  </body>
</html>
