<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form id="reqQuerry" action="/reqQuote" method="post">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" value="<%= user.name %>" />

      <label for="email">Email</label>
      <input
        type="text"
        name="email"
        id="email"
        readonly
        value="<%= user.email %>"
      />

      <label for="company">Company</label>
      <input type="text" name="company" />

      <label for="contact">Contact</label>
      <input
        type="text"
        name="contact"
        id="contact"
        value="<%= user.contact %>"
      />

      <input
        type="checkbox"
        name="webDevlopment"
        id="webDevelopmen"
        value="web development"
      />
      <label for="webDevelopmen">webDevelopmen</label>

      <div id="query">
        <label for="query"> Query</label>
        <textarea name="query" id="query"></textarea>
      </div>

      <button id="submitbtn" type="submit">submit</button>
    </form>
  </body>
</html>
